body{
    min-height: 100vh;
    flex-direction: column;
    background-color: #000;/*배경색*/
    height: auto;
}

h1 {
    padding: 20px;
    text-align: center;
}

#txt-content {
    margin: 20px 0;
}

.white-block-with-shadow {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: auto; /* 추가된 속성 */
    height: auto; /* 추가된 속성 */
    margin: 20px auto;
    width: 90%;
}

.white-block-with-shadow div {/*클래스 하위의 div*/
    color: black; /* 추가된 속성 */
    padding: 10px; /* 추가된 속성 */
}

footer {
    padding: 20px;
    text-align: center;
}
