body{
    min-height: 100vh;
    flex-direction: column;
    background-color: #000;/*배경색*/
    color: #fff;
    height: auto;
}

h1 {
    padding: 20px;
    text-align: center;
}

#txt-content {
    margin: 20px 0;
}

.white-block-with-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: auto; /* 추가된 속성 */
    margin: 20px auto;
    width: 90%;
    border-radius: 10px; /* 모서리를 둥글게 만드는 속성 */
    border: 1px solid white; /* 윤곽선을 생성하는 속성 */
}

.white-block-with-shadow div {/*클래스 하위의 div*/
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
}

footer {
    padding: 20px;
    text-align: center;
}
/*
display: flex;: 이 속성은 HTML 요소를 flex 컨테이너로 만듭니다.
Flex 컨테이너는 자식 요소들을 유연하게 배치하고 크기를 조절하는 데 도움이 됩니다.
Flex 컨테이너 내의 자식 요소들은 flex 아이템이라고 부릅니다.
*/
