.pyramidArea{ /* " . " 는 클래스 속성을 정의하고 " # " 은 id 속성을 정의한다.*/
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.pyramidClass{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.pyramidClass div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%
    margin-bottom: 30px;
}
.pyramidClass div img{/*이미지의 원본은 세로 길이는 같지만 가로길이는 다르다.*/
    height: 100%;
    object-fit: contain;
    margin: 0 10px;
}
