.pyramidArea{ /* " . " 는 클래스 속성을 정의하고 " # " 은 id 속성을 정의한다.*/
    display: flex;
    min-height: 500px;
    width: 90%;
    justify-content: center;
    align-items: center;
}
#pyramid{
    justify-content: center;
    align-items: center;
}
#pyramid img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}
