body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px 0;
}

.project {
    margin: 20px 0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
